.container {
  max-width: 960px;
}

.contact-deck {
	color: #08122b;
	padding: 15px;
	margin: 30px 10px 10px 10px;
}

.contact-deck > h1 {
	color: inherit;
}

.form-padding {
  padding-top: 20px;
}

.form-btn {
	 padding: 0;
   color: whitesmoke;
}

.form-btn:hover {
	background-color: #218838;
  border-color: #1e7e34;
}

.pricing-header {
  max-width: 700px;
}


.list-unstyled {
	display: grid;
}

.card-deck .card {
    color: #08122b;
    min-width: 220px;
}

.nav-pills li {
	width: 50%;
}

.nav-pills li a {
	color: #08122b;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #08122bd9;
}

#profile-form {
	background-color: #010b15d9;
	padding-left: inherit;
  padding-right: inherit;
}

#movie-display {
	background-color: #010b15d9;
  padding: 0px 10px;
  border-radius: 3px;
}

.movie-btn {
	width: auto;
	height: auto;
}