* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html, body {
  margin-top: 46px;
  padding: 0;
  color: whitesmoke;
  background-color: #08122bd9;
}

body {
  height: 100%;
}

.body{
  background: url('../img/ready-player-one-copy.jpg') no-repeat center center fixed;
  background-size: cover;
}

/***********HEADER***********/
header {
  width: 100%;
	background-color: #091023f2;
  padding-left: 30px;
  padding-right: 30px;
}

form.form-inline {
    margin-left: auto;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  color: #01bd7e;
  text-decoration: none;
}

ul li {
  list-style: none;
  display: inline;
}

input[type=search] {
  width: 200px;
  height: 35px;
  border-radius: 17px;
  padding: 17px;
  background-color: inherit;
  color: whitesmoke;
  font-size: 1em;
  border-color: #01bd7e;
}

input[type=search]:focus {
  background-color: inherit;
  color: whitesmoke;
  border-color: #01bd7e;
  outline: 0;
}

li {
  padding-left: 4px;
  padding-right: 4px;
}

.navbar-toggler {
  width: auto;
  height: auto;
  background-color: #01bd7e;
  border: 2px solid whitesmoke;
}

.title {
  font-size: 45px;
  font-weight: 800;
  color: #01bd7e;
}

/***********MAIN SECTION***********/

h1 {
    color: whitesmoke;
    font-weight: 800;
    line-height: 1.1;
    font-size: 45px;
}

h4 {
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 22px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

hr {
	border: 0.4px solid #ababc173;
}

button {
	cursor: pointer;
  width: 120px;
  height: 30px;
  border-radius: 4px;
  background-color: #01bd7e;
  border: none;
  color: inherit;
}

.carousel-item {
  transition: all .3s ease-in-out;
  height: 32rem !important;
}

.carousel-item > img {
  opacity: 0.1;
}

.carousel-caption {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.text-center > h1 {
  margin-bottom: 40px;
  font-size: 54px;
  font-weight: 800;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: .6s;
  transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

@supports ((-webkit-transform-style: preserve-3d) or (transform-style: preserve-3d)) {
  .carousel-fade .carousel-item-next,
  .carousel-fade .carousel-item-prev,
  .carousel-fade .carousel-item.active,
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-prev {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.card {
  height: 100%;
}

.md-pad {
  padding: 5px;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #3e589c7d;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.card-img-overlay:hover {
  opacity: 1;
}

.card-title {
  text-align: center;
}

.jumbotron {
  background-color: inherit;
}

/*******FOOTER*******/
footer {
  font-size: 13px;
  background-color: #091023;
  margin-top: 15px;
  padding-left: 120px;
  padding-right: 120px;
}

.social-icons {
  color: inherit;
  float: right;
  font-size: 19px;
  cursor: pointer;
}

#contact {
  padding-top: 20px;
  padding-bottom: 20px;
}