.text-center {
  text-align: center;
}

.align-hor {
  align-items: center;
}

/***********HEADER***********/
header {
	background-color: #091023f2;
	padding: 12px 120px;
	position: sticky;
  top: -10px;
  z-index: 1;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

a:hover {
  color: #01bd7e;
}

ul li {
  list-style: none;
  display: inline;
}

li > input {
  width: 200px;
  height: 35px;
  border-radius: 17px;
  padding: 17px;
  background-color: inherit;
  color: whitesmoke;
  font-size: 1em;
  border-color: #01bd7e;
}

input:focus {
  outline: 0;
}

li {
  padding-left: 8px;
  padding-right: 8px;
}

nav {
  margin-left: auto;
}

.title {
  font-size: 45px;
  font-weight: 800;
  color: #01bd7e;
}

/***********MAIN SECTION***********/

h1 {
    color: whitesmoke;
    font-weight: 800;
    line-height: 1.1;
    font-size: 45px;
}

h4 {
  margin-bottom: 10px;
  font-family: inherit;
  font-size: 22px;
}

img {
	display: block;
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

hr {
	border: 1.1px solid #ababc173;
}

button {
	cursor: pointer;
  width: 120px;
  height: 30px;
  border-radius: 15px;
  background-color: #01bd7e;
  border: none;
  color: inherit;
}

.main {
	width: 100%;
  height: 350px;
  text-align: center;
	background: url("../img/ready-player-one.jpg") no-repeat;
	background-size: cover;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.movies {
	position: relative;
}

.exp {
  height: 100%;
  color: whitesmoke;
  background-color: #00132d;
  opacity: 0.92;
}

.sub-header {
  font-size: 20px;
}

.description {
  font-size: 27px;
}

.caption {
	position: absolute;
  top: 50%;
  left: 50%;
  padding: 15px;
  background-color: #3e589c75;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 96.4%;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.movies:hover .caption {
	opacity: 1;
}

/*******FOOTER*******/
footer {
  font-size: 13px;
  background-color: #091023;
  margin-top: 15px;
  padding-left: 120px;
  padding-right: 120px;
}

.social-icons {
  float: right;
  font-size: 19px;
  cursor: pointer;
}

#contact {
  font-family: inherit;
}