header {
	background-color: #09102387;
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
	display: inline;
}

li {
	padding-left: 8px;
	padding-right: 8px;
}

nav {
	margin-left: auto;
}

img {
	display: block;
  max-width: 100%;
  height: auto;
}

.align-hor {
	align-items: center;
}

.title {
	font-size: 36px;
}

.main {
	width: 100%;
  height: 400px;
  text-align: center;
  color: blue;
	background: url("../img/ready-player-one.jpg") no-repeat;
	background-size: cover;
}

.exp {
	  height: 100%;
    background-color: #00132d;
    opacity: 0.8;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.grid-row {
	grid-template-rows: 300px 300px;
}
.padding {
	margin-left: 10px;
	margin-right: 10px;
}